<h4>Hi {{user.first_name}},</h4>
<p>A user account linked to your email has been created on FlexAnalytics.</p>
<p>Use the email and password given below to login to FlexAnalytics:</p>
<p>Email: {{user.email}}</p>
<p>Password: {{password}}</p>

<p>Click on the link below to access the login page.</p>
<a href="{{login_url}}">Login to FlexAnalytics</a>

<p>Regards</p>
